/* 
    Document   : flayout_with_ie
    Created on : Dec 26, 2013, 9:46:01 AM
    Author     : Dimata 007
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
    #wrapper { width: 100%; margin: 0 auto; }
    #wrapperspace { width: 100%; margin: 0 auto; }
    #column-left { 
        width: 350px; float: left; /*background: red;*/
        color: #000;
    }
    #column-center {
        width: 400px; float: left; /*background: yellow;*/
    }
    #column-right {
        width: 400px; float: left;
       
    }
    
    #column-left1 {
        width: 290px; float: left; /*background: red;*/
    }
    #column-center1 {
        width: 300px; float: left; /*background: yellow;*/
    }
    #column-center2 {
        width: 400px; float: left;
    }
   #column-right2 {
        width: 350px; float: left; /*background: purple;*/
    }
    
    
    #column-right3 {
        width: 262px; float: left; /*background: purple;*/
    }
     #column-right-two4 {
        width: 262px; float: left; /*background: purple;*/
    }

    A.menulink:LINK {
	font-family : tahoma, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
	color: #000;
    }
    A.menulink:hover {
            font-family: Tahoma, Arial, sans-serif;
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
    }

    A.menulink:visited {

            font-family : tahoma, sans-serif;
            font-size : 11px;
            font-weight : bold;
            text-decoration : none;
            color: #000;
    }
    
    
